/* GLOBAL STYLES  */
 body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #303030;
  }
  h2 {
      font-size: 24px;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 30px;
  }
  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
  } 


/* Block dividers */

.block-divider {
  width: 75px;
  height: 5px;
  border: 0;
  background-color: #ff8300;
}

.block-divider-orange {
  background-color: #ff8300;
}


.block-divider--short {
  width: 35px;
}

/* Buttons */

.btn--cta {
  font-weight: bold;
  border-radius: 23px;
  width: 160px;
}

.btn-orange {
  color: black;
  background-color: #ff8300;
  border-color: #ff8300;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
  background-color: #df4929;
  border-color: #df4929;
  color: white;
}
/* Page Headers */

.page-header {
  margin-bottom: 0;
  border-bottom: 0;
  text-align: center;
  background-color:#5F6061;
  color:#fff;
}

.page-header h2 {
  margin-top: 0;
}
   /* INTRO SECTION  */

 /* .callout-container {
  height: 100vh;
  background: url("../img/runner10x.png") no-repeat bottom right
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display:flex;
  align-items: center;
  justify-content: center;
  position: relative;
} */



.content-container {
  padding-top: 75px;
  padding-bottom: 75px;
}
/* Jumbotron */

.jumbotron {
  background-color: transparent;
}

.jumbotron h1 {
  color: white;
  font-weight: bold;
  margin-bottom: 30px;
  color: white;
}

.jumbotron .lead {
  color: #fff;
  margin: 25px 0;
}

.jumbotron small {
  font-size: 60%;
  font-style: italic;
  color: #d0d0d0;
}


  .intro-container {
      height: 100vh;
      background: url("../img/runner10x.png") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
       -o-background-size: cover;
       position: relative;
       background-size: cover;
     display: flex; 
	align-items: center;
	justify-content: center;
	position: relative;
	max-width: 100% 
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
    color:white;
  } */

button.btn-orange {
  background-color: #ff8300;
}
/* HOME PAGE  */
.container-home {
    height:100vh; 
    display:flex;
    
}
/* WEATHER PAGE  */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column; 
  flex-basis: 100%;
  flex: 1;
}
/* Weather-APP  SECTION*/

.container-weather{
    height:100vh;
   background: url("img/runner10x.png") no-repeat bottom right
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
} 
}


.app-wrap {
  position: relative;
 
  justify-content: left;
  flex-direction: row;
  min-height: 30vh;
  width: 250px;
  background-color: #ff8300;
  margin:50px,0;

  display: block;
  margin: 0 auto;

  border-radius: 10px;
  padding-bottom: 50px;
}

.app-title {
  width: 250px;
  height: 50px;
  border-radius: 10px 10px 0 0;
}

.app-title p {
  text-align: center;
  padding: 15px;
  margin: 0 auto;
  font-size: 1.2em;
  color: #293251;
}

.notification {
  background-color: #f8d7da;
  display: none;
}

.notification p {
  color: #721c24;
  font-size: 1.2em;
  margin: 0;
  text-align: center;
  padding: 10px 0;
}

.weather-container {
  width: 250px;
  height: 260px;
  background-color: #f4f9ff;
}

.weather-icon {
  width: 250px;
  height: 128px;
}

.weather-icon img {
  display: block;
  margin: 0 auto;
}

.temperature-value {
  width: 250px;
  height: 60px;
  cursor: pointer;
}

.temperature-value p {
  padding: 0;
  margin: 0;
  color: #293251;
  font-size: 4em;
  text-align: center;
  cursor: pointer;
}

.temperature-value p:hover {
}

.temperature-value span {
  color: #293251;
  font-size: 0.5em;
}

.temperature-description {
}

.temperature-description p {
  padding: 8px;
  margin: 0;
  color: #293251;
  text-align: center;
  font-size: 1.2em;
}

.location {
}

.location p {
  margin: 0;
  padding: 0;
  color: #293251;
  text-align: center;
  font-size: 0.8em;
}
.date p {
  text-align: center;
  padding: 15px;
  margin: 0 auto;
  font-size: 0.8em;
  color: #293251;
}

.btn-default {
    background-color: #ff8300
}



/* ---------------------Running Route Gallery*/

.run-gallery {
  height: 100vh
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* 
------------------------Gym Location Map */

.container-map {
    height:100vh;
    }
.content-header {
background-color: #5F6051;
color: white;
}
.content-header h4{
    color: white;
}

.alert {
    max-width: 800px;
    color: black;
    align-self:center; 
}
.form-discount {
    align: center; 
    max-width: 500px;
    margin: 10px ;
}
btn .btn-warning{
    margin: 10px 0 10px; 
}
#map{
    height: 80%;
 
  margin:  20px 5px 10px 5px;
}

 /* CONTACT FORM */
 .container-optin{
  height: 100vh;

  background: url("../img/contact-bg.png") no-repeat bottom right
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}


.optin-form {
  width: 340px;
    margin: 50px auto;
   /* background:rgba(0, 0, 0, 0.3); */
  background: rgba(19,28,39,0.5);
    
}
  .optin-form form {
    margin-bottom: 15px;
      background: rgba(0, 0, 0, 0.3);
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      padding: 30px;
  }
  .optin-form h2 {
      margin: 0 0 15px;
      color:white;
      font-size: 1.5rem;
  }
  .optin-form p {
    color:#fff;
  }
  .form-control, .btn {
      min-height: 38px;
      border-radius: 2px;
  }
  .btn-optin {        
      font-size: 15px;
      font-weight: bold;
      background-color: #ff8300;
  }



/* 
Contact section  */

/* .discount-form{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.contact-heading {
  font-family: "Exo", sans-serif;
  font-weight: 300;
  margin-top: 25px;
  margin-bottom: 20px;
}


.center-form {
  padding-top: 10px;
  margin: 0 auto;
  max-width: 70%;
}

button[type="submit"] {
  margin-top: 15px;
  margin-bottom: 20px;
  background-color: #e84610;
  color: #fafafa;
} */




/* Footer Section */
footer {
  color:white;
  background: rgba(19,28,39,1); 
}
.footer-wrapper {
  display: flex; 
  padding: 2rem; 
  width: 90%;
  margin: auto; 
  align-items: center; 
  min-height: 10vh;
  flex-wrap: wrap; 
}
.footer h5 {
  font-size:2rem;
  flex: 1 1 40rem;
}
.footer ul{
  display:flex; 
  list-style :none;
  flex: 1 1 40rem;
  justify-content: space-between;
  align-items: center;
}
