/* GLOBAL STYLES  */
 body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #303030;
  }
  h2 {
      font-size: 24px;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 30px;
  }
  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
  } 


/* Block dividers */

.block-divider {
  width: 75px;
  height: 5px;
  border: 0;
  background-color: #ff8300;
}

.block-divider-orange {
  background-color: #ff8300;
}


.block-divider--short {
  width: 35px;
}

/* Buttons */

/* .btn--cta {
  font-weight: bold;
  border-radius: 23px;
  width: 160px;
} */

.btn-orange {
  color: black;
  background-color: #ff8300;
  border-color: #ff8300;
}

 .btn-orange:hover,
.btn-orange:active,
.btn-orange:focus,
.btn-orange:active:focus {
  background-color: #df4929;
  border-color: #df4929;
  color: white;
} 

/* Page Headers */

.page-header {
  margin-bottom: 0;
  border-bottom: 0;
  text-align: center;
  background-color:#4E5A67;
  color:#fff;
   padding-top: 10px;
  padding-bottom: 10px;
}

.page-header h2 {
  margin-top: 0;
 
}
   /* INTRO SECTION  */

.callout-container {
  height: 100vh;
  background: url("../img/runner10x.png") no-repeat bottom right
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display:flex;
  align-items: center;
  justify-content: center;
  position: relative;
  	max-width: 100% ; 
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
    color:white;
  } 




.content-container {
  padding-top: 75px;
  padding-bottom: 75px;
}
/* Jumbotron */

.jumbotron {
  background-color: transparent;
}

.jumbotron h1 {
  color: white;
  font-weight: bold;
  margin-bottom: 30px;
  color: white;
}

.jumbotron .lead {
  color: #fff;
  margin: 25px 0;
}



button.btn-orange {
  background-color: #ff8300;
}



/* Weather-APP  SECTION*/

.intro-container {
  height: 100vh;

  background: url("../img/runner10x.png") no-repeat bottom right
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.intro-container h2 
 {
  color: white;
}
.intro-container h4{
  color: white;
}
.intro-container p {
color : #fff;
font-weight: 400;
}



.app-wrap {
  position: relative;
 
  justify-content: left;
  flex-direction: row;
  min-height: 30vh;
  width: 250px;
  background-color: #ff8300;
  margin: 50px 0;

  display: block;
  margin: 0 auto;

  border-radius: 10px;
  padding-bottom: 50px;
}

.app-title {
  width: 250px;
  height: 50px;
  border-radius: 10px 10px 0 0;
}

.app-title p {
  text-align: center;
  padding: 15px;
  margin: 0 auto;
  font-size: 1.2em;
  color: #293251;
}

.notification {
  background-color: #f8d7da;
  display: none;
}

.notification p {
  color: #721c24;
  font-size: 1.2em;
  margin: 0;
  text-align: center;
  padding: 10px 0;
}

.weather-container {
  width: 250px;
  height: 260px;
  background-color: #f4f9ff;
}

.weather-icon {
  width: 250px;
  height: 128px;
}

.weather-icon img {
  display: block;
  margin: 0 auto;
}

.temperature-value {
  width: 250px;
  height: 60px;
  cursor: pointer;
}

.temperature-value p {
  padding: 0;
  margin: 0;
  color: #293251;
  font-size: 4em;
  text-align: center;
  cursor: pointer;
}

.temperature-value p:hover {
}

.temperature-value span {
  color: #293251;
  font-size: 0.5em;
}

.temperature-description {
}

.temperature-description p {
  padding: 8px;
  margin: 0;
  color: #293251;
  text-align: center;
  font-size: 1.2em;
}

.location {
}

.location p {
  margin: 0;
  padding: 0;
  color: #293251;
  text-align: center;
  font-size: 0.8em;
}
.date p {
  text-align: center;
  padding: 15px;
  margin: 0 auto;
  font-size: 0.8em;
  color: #293251;
}

/* .btn-default {
    background-color: #ff8300
} */







/* 
------------------------Gym Location  G Map */

.container-map {
    height:100vh;
    margin-bottom: 30px;
    padding-bottom: 20px;
    }
.content-header {
background-color: #4E5A67;
color: white;
padding-top: 10px;
padding-bottom: 0px;
}
.content-header h4{
    color: white;
}

.alert {
    max-width: 800px;
    color: black;
    align-self:center; 
}
.form-discount {
    /* align: center;  */
    max-width: 500px;
    margin: 10px ;
}
btn .btn-warning{
    margin: 10px 0 10px; 
}
#map{
   
 height: 80%;
 margin: 20px 5px 10px 5px;
 padding-bottom:30px;
}


                     /* RUN GALLERY  */
.gallery {
   margin: 10px 20px;
 }
.gallery img {
  transition: 1s;
  padding:15px;
  width: 320px; 
}
.gallery img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}



 /* CONTACT FORM */
 .contact-container{
  height: 100vh;
  background: url("../img/contact-bckg.png") no-repeat bottom right
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}


.optin-form {
  width: 340px;
    margin: 50px auto;
  padding-bottom: 5px; 
    
}
  .optin-form form {
    margin-bottom: 15px;
      background-color:  rgba(19, 28, 39, 0.4);
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      padding: 30px;
  }
  .optin-form h2 {
      margin: 0 0 15px;
      color:white;
      font-size: 1.5rem;
  }
  .optin-form p {
    color:#fff;
  }
  .form-control, .btn {
      min-height: 38px;
      border-radius: 2px;
  }
  .btn-optin {        
      font-size: 15px;
      font-weight: bold;
      background-color: #ff8300;
  }



 




/* Footer Section */
.btn-footer {
  background-color: #ff8300; 
  color: white;
  font-weight: 500;
  font-size: 9px;
  padding: 10px 5px; 
  border-radius: 23px;
  cursor: pointer;
  width: 40%;
  } 
  footer {
  background-color: #4E5A67;
  color: #fafafa;
  min-height: 120px; 
  margin: 0;
}
.footer h5  {
text-transform: uppercase;
}
.fas {
    color: #fff;
}

#footer-details {
  padding: 20px;
  background-color:#4E5A67;
  color:#fff; 
  }
  #footer-details h5 {
      text-transform: uppercase; 
  }
  #footer-details p{
      
  }
.social-links {
  padding-bottom: 15px;
}
.social-links li a i {
  width: 32px;
  height: 32px;
  padding: 12px 0; 
  border-radius: 50%;
  font-size: 12px; 
  line-height: 7px;
  text-align: center;
  color: #fafafa;
  background: #eb8100;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webikit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}
.social-links li a i:hover {
  background: #f8d165;
}

/* Media Query Section */


 @media screen and (max-width: 932px) {  
  
 html {
    font-size: 45%;
  } 
 body {
overflow-x: hidden;
  }
  
  #logo {  
    padding: 2rem;
    text-align: center;
  }

  .bg-img{ 
      align-content: center;
  }
   
  .form-wrapper {
    width: 80%;
  }
   footer {
    text-align: center;
 }  
