/* GLOBAL STYLES  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #303030;
  }
  h2 {
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 30px;
  }
  h4 {
      font-size: 1.5rem ;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 2rem;
  } 


/* Block dividers */

.block-divider {
  width: 4.5rem;
  height: 0.5rem;
  border: 0;
  margin:auto;
  background-color: #ff8300;
}


.block-divider-orange {
  background-color: #ff8300;
}


.block-divider--short {
  width: 2.5rem;
}

/* Buttons */

.btn-orange {
  color: black;
  background-color: #ff8300;
  }

.btn-orange:hover,
.btn-orange:active,
.btn-orange:focus,
.btn-orange:active:focus {
 background-color: #df4929;
 color: white;
} 

/* Page Headers */

.page-header {
  margin-bottom: 0;
  border-bottom: 0;
  text-align: center;
  background-color:#4E5A67;
  color:#fff;
   padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.page-header h2 {
  margin-top: 0;
 
}

/* Navbar Section */

.navbar-container {
	position: absolute;
	top: 0;
	left: 0;
	padding-left: 0;
	padding-right: 0;
}

.navbar {
	margin-bottom: 0;
	border: 0;
	padding: 0.5rem;
	width: 100vw;
    z-index: 1;
    /* overflow: hidden; */
}
.navbar-custom {
  /* background-color:#4E5A67;  */
  background-color:#343A40;
 
}

.navbar .navbar-toggler {
	border: 0;
    height:2.5em ;
    width: 2.5em;
}

a.navlink {

font-size:1.5rem;
font-weight:300;

}
   /* INTRO SECTION  */

.callout-container {
  height: 100vh;
  background: url("../img/runner10x.png") no-repeat bottom right
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display:flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 100vw ; 
  padding: 8rem  3rem;
  font-family: Montserrat, sans-serif;
  color:white;
  } 


/* Jumbotron */

.jumbotron {
  background-color: transparent;
}

.jumbotron h1 {
  color: white;
  font-weight: bold;
  margin-bottom: 2rem;
  color: white;
}

.jumbotron .lead {
  color: #fff;
  margin: 3rem 0;
}

button.btn-orange {

background-color: #ff8300;
}



/* Weather-APP  SECTION*/

.intro-container {
  height: 100vh;

  background: url("../img/runner10x.png") no-repeat bottom right
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.intro-container h2 
 {
  color: white;
}
.intro-container h4{
  color: white;
  margin-bottom:1rem;
  margin-top:1rem;
}

.intro-text h3 {
 color:#fff;
 margin-bottom: 0;
 margin-top:1rem;
 text-transform:uppercase;  

}



.app-wrap {
  position: relative;
 justify-content: left;
  flex-direction: row;
  min-height: 30vh;
  width: 15rem;
  background-color: #ff8300;
  margin: 3rem 0;

  display: block;
  margin: 0 auto;
 border-radius: 0.8rem;
  padding-bottom: 3rem;
}

.app-title {
  width: 15rem;
  border-radius: 10px 10px 0 0;
}

.app-title p {
  text-align: center;
  padding: 1rem;
  margin: 0 auto;
  font-size: 1.2em;
  color: #293251;
}

.notification {
  background-color: #f8d7da;
  display: none;
}

.notification p {
  color: #721c24;
  font-size: 1.2em;
  margin: 0;
  text-align: center;
  padding: 0.8rem 0;
}

.weather-container {
  width: 15rem;
  height: 15.5rem;
  background-color: #f4f9ff;
}

.weather-icon {
  width: 15.6rem;
  height: 8rem;
}

.weather-icon img {
  display: block;
  margin: 0 auto;
}

.temperature-value {
  width: 15.6rem;
  /* height: 3.75rem; */
  cursor: pointer;
}

.temperature-value p {
  padding: 0;
  margin: 0;
  color: #293251;
  font-size: 4em;
  text-align: center;
  cursor: pointer;
}

.temperature-value p:hover {
}

.temperature-value span {
  color: #293251;
  font-size: 0.5em;
}

.temperature-description {
}

.temperature-description p {
  padding: 8px;
  margin: 0;
  color: #293251;
  text-align: center;
  font-size: 1.2em;
}



.location p {
  margin: 0;
  padding: 0;
  color: #293251;
  text-align: center;
  font-size: 0.8em;
}
.date p {
  text-align: center;
  padding: 15px;
  margin: 0 auto;
  font-size: 0.8em;
  color: #293251;
}

 
/* Gym Location  G Map */ 


 .container-map {
    height:100vh;
    margin-bottom: 1.8rem;
    padding-bottom: 1.25rem;
    } 

.content-header {
background-color: #4E5A67;
color: white;
padding-top: 0.6rem;
padding-bottom: 0rem;
}
.content-header h4{
    color: white;
}
.alert-container .col-12 {
  padding-left: 0;
  padding-right: 0;
}

.site-wide-alert {
  color: black;
  background-color: #ff8300;
  border-color: #eec802;
  padding: 0.3rem 0.9rem;
  margin-bottom: 0;
  border: 0.06rem solid transparent;
  border-radius: 0;
  text-align: center;
}


.form-discount {
    /* align: center;  */
    max-width: 500px;
    margin: 0.6rem ;
}
btn .btn-warning{
    margin: 0.6rem 0 0.6rem; 
}
#map {
   height: 80%;
   margin: 1.2rem 0.5rem 0.6rem 0.5rem;
   padding-bottom: 2rem;
}


                     /* RUN GALLERY  */
.gallery {
   margin: 0.6rem 1.5rem;
 }
.gallery img {
  transition: 1s;
  padding: 1rem ;
  width: 20rem; 
}
.gallery img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}



 /* CONTACT FORM */
 .contact-container{
  max-height: 100vh;
  background: url("../img/contact-bckg.png") no-repeat bottom right
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
  align-items: center;
  justify-content: center;
  position: relative;
  padding-left: 0rem; 
  padding-right:0rem
}


.optin-form {
 width: 21rem;
 margin: 3rem auto;
 padding-bottom: 0.5rem;
    
}
  .optin-form form {
    margin-bottom: 1rem;
    background-color:  rgba(19, 28, 39, 0.4);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 2rem;
  }
  .optin-form h2 {
    margin: 0 0 1rem;
    color:white;
    font-size: 1.5rem;
  }
  .optin-form p {
    color:#fff;
  }
  .form-control, .btn {
    min-height: 2rem;
    border-radius: 2rem;
  }
  /* Trainer Section */

.trainer-container{
border: 0;
padding:0;
padding-left: 0rem; 
padding-right:0rem
}

.trainer {
 margin-bottom: 3rem;
 text-align: center;
}

.trainer img {
width: 14rem;
height: 14rem;
border: 0.5rem solid rgba(0, 0, 0, 0.3);
}

.trainer h4 {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

span#message {
color: white;
}


/* Footer Section */
.btn-footer {
  background-color: #ff8300; 
  color: white;
  font-weight: 500;
  font-size: 0.6rem;
  padding: 0.6rem 0.3rem; 
  border-radius: 1.5rem;
  cursor: pointer;
  width: 40%;
  } 
  footer {
  background-color: #4E5A67;
  color: #fafafa;
  min-height: 7.5rem; 
  margin: 0;
}
.footer h5  {
text-transform: uppercase;
}
.fas {
color: #fff;
}

#footer-details {
  padding: 1.25rem;
  background-color:#4E5A67;
  color:#fff; 
  }
  #footer-details h5 {
    text-transform: uppercase; 
  }
 
.social-links {
  padding-bottom: 1rem;
}
.social-links li a i {
  width: 2rem;
  height: 2rem;
  padding: 12px 0; 
  border-radius: 50%;
  font-size: 0.75rem; 
  line-height: 0.5rem;
  text-align: center;
  color: #fafafa;
  background: #eb8100;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webikit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}
.social-links li a i:hover {
  background: #f8d165;
}

/* Media Query Section */


 @media screen and (max-width: 760px) {  
  
 html {
    font-size: 75%;
  } 
 body {
overflow-x: hidden;
  }
  
  #logo {  
    padding: 2rem;
    text-align: center;
  }
   .callout-container{
 background: url(../img/runner-crop.png) no-repeat
 bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  
 
}

   .intro-container{
background: url(../img/runner-crop.png) no-repeat
 bottom right fixed;
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  } 

  .bg-img{ 
    align-content: center;
  }
   
  .form-wrapper {
    width: 80%;
  }
   footer {
  text-align: center;
 }

 }

 /* Media queries */
 @media only screen and (max-width: 600px) {
  .intro-container {
    height: 800px;
  } 
  .app-wrap{
   height: 420px;
  }
}